@charset "UTF-8";
/* 
	請注意！本 scss 所做設定皆全域可見。
	本 sass 引入 Images 資料夾內的 icon-pic 圖示，用以作為雪碧圖示。
*/
/* line 64, icon-pic/*.png */
.icon-pic-sprite, .icon-pic-icon-01, .icon-pic-icon-02, .icon-pic-icon-03 {
  background-image: url('../images/icon-pic-sa300b00429.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-icon-01 {
  background-position: 0 0;
}

/* line 84, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-icon-02 {
  background-position: 0 -31px;
}

/* line 84, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-icon-03 {
  background-position: 0 -61px;
}

/* line 5, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_form-style.scss */
.ViewForm {
  max-width: 1010px;
  margin: 20px auto;
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.01);
}

/* line 10, ../sass/_form-style.scss */
.event_intro {
  font-size: 1.4em;
  /*  text-align: center; */
  margin-bottom: -15px;
  margin-top: 35px;
}

@media (max-width: 768px) and (min-width: 321px) {
  /* line 23, ../sass/_form-style.scss */
  body .Question .SingleRadio ul li,
  body .Question .MultiCheckbox ul li {
    width: 100% !important;
  }
  /* line 30, ../sass/_form-style.scss */
  body .ImageSelect li {
    width: 100% !important;
    float: none !important;
  }
  /* line 33, ../sass/_form-style.scss */
  body .ImageSelect li div {
    width: 85%;
    margin: 15px auto !important;
  }
  /* line 39, ../sass/_form-style.scss */
  body .SingleImage {
    padding: 0 20px;
  }
  /* line 41, ../sass/_form-style.scss */
  body .SingleImage img {
    width: 100% !important;
  }
  /* line 45, ../sass/_form-style.scss */
  body .video > div,
  body .video > iframe {
    width: 100% !important;
  }
}
