@charset "UTF-8";
/* line 81, ../sass/_variable.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content:after, body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] .ImageList:after {
  content: "​";
  display: block;
  height: 0;
  clear: both;
}

/* line 481, ../sass/_variable.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Copy, body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Delete {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  display: inline-block;
  border: 1px solid #a1a1a1;
  line-height: 1;
  cursor: pointer;
  vertical-align: middle;
  font-size: 0.9em;
}
/* line 491, ../sass/_variable.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Copy:link, body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Delete:link {
  color: #a1a1a1;
}
/* line 494, ../sass/_variable.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Copy:visited, body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Delete:visited {
  color: #a1a1a1;
}
/* line 497, ../sass/_variable.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Copy:hover, body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Delete:hover {
  background-color: #d8d8d8;
  color: #ffffff;
}
/* line 501, ../sass/_variable.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Copy:active, body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Delete:active {
  color: #a1a1a1;
}

/* line 4, ../sass/_function.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] > div Input, body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="11"] > div Input, body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="12"] .youtubeText, body .doc_container .docs-editor .schema-editor .CollapseArea .Content .DateArea .dateInput {
  line-height: 27px;
  font-size: 12.5pt;
}

/* line 14, ../sass/_function.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content:after, body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] .ImageList:after {
  content: "​";
  display: block;
  height: 0;
  clear: both;
}

/* line 70, ../sass/_function.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .form-inputfield, body .doc_container .docs-editor .schema-editor .CollapseArea .Content .form-inputsection, body .doc_container .docs-editor .schema-editor .CollapseArea .Content .option li input, body .doc_container .docs-editor .schema-editor .CollapseArea .Content .optionTextFieldNew input {
  line-height: 21px;
  margin: 10px 0px;
  resize: none;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 12.5pt;
  padding-left: 5px !important;
}

/* line 89, ../sass/_function.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] .ImageList li div span.DeleteImgBtn, body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="11"] .ImageList li span.DeleteImgBtn {
  font-size: 15px;
  width: 16px;
  padding: 4px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  text-align: center;
  background: #709FBA;
  color: #ffffff;
  margin-left: 10px;
  cursor: pointer;
}

/* line 102, ../sass/_function.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .optionTextFieldNew > .newOption {
  padding: 8px;
  background: #D9078C;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

/* line 110, ../sass/_function.scss */
body .doc_container .docs-editor #btnSave, body .doc_container .docs-editor .schema-editor .CollapseArea .Content .finishButton {
  width: 100px !important;
  height: 35px !important;
  background: #ff8303;
  border-width: 0px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 12.5pt;
}

/* line 122, ../sass/_function.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .PresentationfiledSingle .PresentationText, body .doc_container .docs-editor .schema-editor .CollapseArea .Content .PresentationfiledMultiLine .PresentationText {
  border: 1px dashed #a1a1a1;
  cursor: default;
  margin: 15px 0;
  padding: 2px 3px;
  vertical-align: top;
  font-size: 11pt;
  margin-left: 10px;
}

/* line 132, ../sass/_function.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .TooltipContent {
  position: absolute;
  margin-left: -35px;
  margin-top: 50%;
  width: 35px;
  padding: 5px;
  display: inline-block;
  background-color: transparent;
  color: transparent;
  border-radius: 5px;
}
/* line 142, ../sass/_function.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .TooltipContent:after {
  width: 0px;
  height: 0px;
  border-width: 0 5px 10px 5px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  position: absolute;
  content: "";
  bottom: 93%;
  left: 37%;
}

/* 
	請注意！本 scss 所做設定皆全域可見。
	本 sass 引入 Images 資料夾內的 icon-pic 圖示，用以作為雪碧圖示。
*/
/* line 64, icon-pic/*.png */
.icon-pic-sprite, .icon-pic-icon-01, .icon-pic-icon-02, body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Copy, .icon-pic-icon-03, body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Delete {
  background-image: url('../images/icon-pic-sa300b00429.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-icon-01 {
  background-position: 0 0;
}

/* line 84, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-icon-02, body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Copy {
  background-position: 0 -31px;
}

/* line 84, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-icon-03, body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Delete {
  background-position: 0 -61px;
}

/* line 5, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_style.scss */
body {
  background-color: #ffffff;
  font: 12pt arial, 微軟正黑體, sans-serif !important;
  margin: 0;
  line-height: 200%;
  color: #515151;
}
/* line 7, ../sass/_style.scss */
body .doc_container {
  padding: 0;
}
/* line 9, ../sass/_style.scss */
body .doc_container .docs-editor {
  outline: none;
  overflow: auto;
  margin: auto;
  max-width: 960px;
  background-color: #F8F5F5;
}
/* line 15, ../sass/_style.scss */
body .doc_container .docs-editor #btnSave {
  float: right;
}
/* line 19, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor {
  background-color: #ffffff;
  margin: 30px;
}
/* line 23, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .form-title .title-container {
  font-size: 1.1em;
  font-weight: bold;
}
/* line 28, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .EditBody {
  /*border: 1px solid transparent;*/
}
/* line 30, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .EditBody h3 {
  font-size: 1.1em;
  padding: 0 30px 20px 30px;
  cursor: pointer;
  position: relative;
}
/* line 35, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .EditBody h3:hover {
  background-color: #fbfbfb;
}
/* line 37, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .EditBody h3:hover .Edit {
  display: block;
}
/* line 42, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .EditBody h3:hover .ParagraphTitle:after,
body .doc_container .docs-editor .schema-editor .EditBody h3:hover .Title:after {
  content: url("../images/point2.png");
}
/* line 47, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .EditBody h3:active {
  cursor: move;
}
/* line 50, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .EditBody h3 hr {
  width: 100%;
}
/* line 53, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .EditBody h3 .SingleImage img {
  width: 225px;
}
/* line 58, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .EditBody h3 .ParagraphTitle:after,
body .doc_container .docs-editor .schema-editor .EditBody h3 .Title:after {
  content: url("../images/point.png");
  position: absolute;
  right: 15px;
  top: 6px;
  width: 20px;
  cursor: move;
}
/* line 69, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .EditThisPart {
  border-left: 2px solid #B812C3;
  box-sizing: border-box;
}
/* line 73, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea {
  position: relative;
}
/* line 75, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures {
  position: absolute;
  top: 15px;
  right: 15px;
}
/* line 79, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures div {
  display: inline-block;
  float: left;
  margin-left: 10px;
}
/* line 84, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures select {
  display: inline-block;
  height: 35px;
}
/* line 88, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Ques select {
  width: 100px;
}
/* line 91, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Copy {
  width: 30px;
  height: 30px;
}
/* line 96, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Copy:hover + span {
  background-color: #6CCDCD;
  color: #ffffff;
}
/* line 99, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Copy:hover + span:after {
  border-color: transparent transparent #6CCDCD transparent;
}
/* line 104, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Delete {
  width: 30px;
  height: 30px;
}
/* line 109, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Delete:hover + span {
  background-color: #6CCDCD;
  color: #ffffff;
}
/* line 112, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .EditFeatures .Delete:hover + span:after {
  border-color: transparent transparent #6CCDCD transparent;
}
/* line 121, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea #H-line {
  min-height: 150px;
  width: 100%;
}
/* line 124, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea #H-line .hl {
  border: 1px solid #08c;
}
/* line 128, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content {
  padding: 15px;
  width: inherit;
  background-color: #f2f2ef;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 11px;
  font-size: 12.5pt;
}
/* line 137, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .form-inputfield {
  width: 500px;
}
/* line 141, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .form-inputsection {
  width: 200px;
}
/* line 145, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .section-num {
  margin: 10px 5px;
  width: 50px;
  line-height: 150%;
}
/* line 150, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .DeleteBtn {
  margin-left: 10px;
  cursor: pointer;
  color: #a1a1a1;
  font-size: 18.5pt;
  font-weight: bold;
  vertical-align: middle;
}
/* line 157, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .DeleteBtn:hover {
  color: #CC0000;
}
/* line 161, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .finishButton {
  float: right;
}
/* line 165, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .videoType1Radio,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .videoType2Radio {
  margin: 10px 0;
}
/* line 168, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .videoType1Radio input,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .videoType2Radio input {
  font-size: 12.5pt;
}
/* line 175, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .TitleRow div,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .DescriptionRow div,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .ddlTypeRow div {
  margin: 13px 0;
  text-align: right;
}
/* line 178, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .TitleRow div:nth-child(1),
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .DescriptionRow div:nth-child(1),
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .ddlTypeRow div:nth-child(1) {
  min-width: 69px;
  padding-right: 5px;
}
/* line 183, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .TitleRow .DescriptionLabel,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .DescriptionRow .DescriptionLabel,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .ddlTypeRow .DescriptionLabel {
  vertical-align: top;
}
/* line 186, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .TitleRow textarea,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .DescriptionRow textarea,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .ddlTypeRow textarea {
  width: 80%;
  margin: 10px 5px 10px;
  font-size: 12.5pt;
  padding-left: 5px;
}
/* line 193, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .TitleRow span .JQSpan,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .DescriptionRow span .JQSpan,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .ddlTypeRow span .JQSpan {
  margin-left: 5px;
}
/* line 196, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .TitleRow span select,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .DescriptionRow span select,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .ddlTypeRow span select {
  height: 27px;
  font-size: 12.5pt;
  margin-left: 5px;
  color: #666666;
  vertical-align: baseline;
}
/* line 203, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .TitleRow span .jumpQ_span,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .TitleRow span .Score_span,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .DescriptionRow span .jumpQ_span,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .DescriptionRow span .Score_span,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .ddlTypeRow span .jumpQ_span,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .ddlTypeRow span .Score_span {
  margin-left: 5px;
}
/* line 209, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .optionTextFieldNew {
  margin-left: 10px;
  margin-top: 5px;
}
/* line 212, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .optionTextFieldNew span.addOther {
  color: #ffffff;
  background-color: #00BBFF;
  padding: 8px;
  border-radius: 5px;
  margin-left: 5px;
}
/* line 219, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .optionTextFieldNew > .newOption {
  margin-left: 70px !important;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 227, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .optionTextFieldNew div .otherOptionText {
  border: 1px solid #84A4B4;
  background: #efefef;
}
/* line 232, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .optionTextFieldNew .checkCount,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .optionTextFieldNew div[cid="7"] + div,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .optionTextFieldNew .perLineCount {
  margin-left: 70px !important;
}
/* line 239, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .PresentationfiledSingle .PresentationText {
  margin-left: 80px !important;
  line-height: 150%;
}
/* line 246, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .PresentationfiledMultiLine .PresentationText {
  margin-left: 80px !important;
  line-height: 7em;
  width: 79%;
  font-size: 12.5pt;
  padding-left: 10px;
}
/* line 255, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] {
  width: 87%;
  padding-left: 75px;
}
/* line 258, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] > div {
  margin-top: 10px;
}
/* line 260, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] > div Input {
  margin-left: 1px;
}
/* line 265, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] .ImageList {
  width: 90%;
}
/* line 270, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] .ImageList li {
  float: left;
  position: relative;
  width: 33%;
}
/* line 274, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] .ImageList li:after {
  clear: left;
}
/* line 277, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] .ImageList li:active, body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] .ImageList li:hover {
  cursor: move;
}
/* line 281, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] .ImageList li div {
  margin: 10px;
}
/* line 283, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] .ImageList li div span.DeleteImgBtn {
  position: absolute;
  right: 10px;
  top: 0;
}
/* line 289, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] .ImageList li div a {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 145px;
  margin: 10px 0;
}
/* line 296, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] .ImageList li div a img {
  width: 200px;
  visibility: hidden;
}
/* line 301, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] .ImageList li div input {
  width: 96.5%;
  height: 25px;
  font-size: 11pt;
}
/* line 310, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="10"] .MultiImageSetting div {
  margin: 10px 0;
  margin-left: 5px;
}
/* line 316, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="11"] {
  padding-left: 80px;
}
/* line 318, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="11"] > div {
  margin-top: 10px;
}
/* line 320, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="11"] > div Input {
  padding-bottom: 10px;
}
/* line 325, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="11"] .ImageList {
  width: 252px;
}
/* line 327, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="11"] .ImageList li {
  position: relative;
}
/* line 329, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="11"] .ImageList li span.DeleteImgBtn {
  position: absolute;
  right: -9px;
}
/* line 336, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="11"] img {
  width: 200px;
  height: auto;
}
/* line 341, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="12"] {
  padding-left: 80px;
}
/* line 343, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content div[dataid="12"] .youtubeText {
  padding-left: 5px;
}
/* line 348, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .AddressArea,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .DateArea,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .UploadArea {
  height: 25px;
  font-size: 12.5pt;
}
/* line 354, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .AddressArea {
  padding-left: 80px;
}
/* line 356, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .AddressArea .zip {
  /*  @extend %frame; */
  height: 23px;
  font-size: 12.5pt;
  margin-right: 5px;
  padding: 0 5px 0 5px;
}
/* line 363, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .AddressArea .county,
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .AddressArea .district {
  height: 27px;
  font-size: 12.5pt;
  color: #666666;
  vertical-align: middle;
  margin-right: 5px;
}
/* line 372, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .DateArea {
  padding-left: 80px;
}
/* line 374, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .DateArea .dateInput {
  width: 265px;
}
/* line 379, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .AllowFileTypeArea {
  padding-left: 80px;
}
/* line 381, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .AllowFileTypeArea .AllowFileType {
  padding-right: 5px;
}
/* line 384, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .AllowFileTypeArea .AllowFileTypeInput {
  margin-left: 5px;
  line-height: 21px;
  font-size: 12.5pt;
}
/* line 391, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .option li {
  margin-left: 72px;
}
/* line 393, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .option li input {
  width: 200px;
}
/* line 394, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .option li input .txtScore {
  width: 50px !important;
}
/* line 400, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .option li span img {
  margin-bottom: -5px;
}
/* line 403, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .option li .scoreSpan {
  margin-right: 10px;
}
/* line 407, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .option .jumpQuestionSelect {
  width: 145px;
  height: 25px;
  font-size: 12.5pt;
  margin-right: 10px;
}
/* line 415, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .optionTextFieldNew input {
  margin-right: 5px;
}
/* line 420, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .optionTextFieldNew .perLineCount input[dataid="7"] {
  width: 50px;
}
/* line 425, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .is-add {
  cursor: pointer;
  opacity: .5;
}
/* line 429, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .img_ques li {
  float: left;
  margin-right: 15px;
}
/* line 432, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .CollapseArea .Content .img_ques li p {
  text-align: right;
}
/* line 438, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .Add-Ques select {
  width: 280px;
  height: 25px;
}
/* line 442, ../sass/_style.scss */
body .doc_container .docs-editor .schema-editor .bn_box {
  text-align: center;
  margin: 5px 0;
  clear: both;
  margin-bottom: 70px;
}

/* line 453, ../sass/_style.scss */
.addElement {
  margin-left: 35px;
  height: 27px;
  font-size: 12.5pt;
  color: #666666;
}

/* line 460, ../sass/_style.scss */
#imgTips {
  margin-left: 20px;
}

/* line 464, ../sass/_style.scss */
input.txtScore {
  width: 50px !important;
}
