//基本變數設定================================================================
//設定================================================================
$rwd: true; // true 或 false，是否開啟 rwd
$icon-pic: true; // true 或 false，是否開啟雪碧圖示
//無彩色
$white: #ffffff; //白
$light: #f2f2f2; //淺
$light-gray: #d8d8d8; //淺灰
$gray: #a1a1a1; //灰
$deep-gray: #8e8e8e; //深灰
$deep: #545454; //深
$black: #3f3f3f; //黑
//版面顏色
$main-color: #5583db !default; //主色
$main-color-hover: darken($main-color, 5); //主色的hover色
$sec-color: $gray !default; //搭配色
$sec-color-hover : darken($sec-color, 5); //搭配色的hover色
$thir-color: $deep !default; //輔助色
$thir-color-hover : darken($thir-color, 5); //第三色的hover色
//文字顏色
$title-color: $main-color !default; //文章標題
$span-color: $deep-gray !default; //文章附註
//合成用的套明度
$opacity: .9;
//字高
$line-height-s: 1.2;
$line-height-m: 1.6;
$line-height-l: 2;
$line-height-xl: 2.4;
//文字大小
$font-size-s: .9em;
$font-size-m: 1em;
$font-size-l: 1.1em;
$font-size-xl: 1.4em;
$font-size-hscp: 12.5pt;
//間隔設定
$interval-s: 3px;
$interval-m: 6px;
$interval-l: 10px;
$interval-xl: 20px;
$interval-ll:1em;
//文字樣式
$base-font-style: '微軟正黑體',
Arial,
'Helvetica Neue',
Helvetica,
sans-serif,
'新細明體';
//文字厚度
$font-weight-n: 400;
$font-weight-b: 700;
//其他
$content: '\200B'; //空偽類的字元
//Tip 文字顏色
$tip-color: #6CCDCD;
//基本樣式設定================================================================
//全頁文字
$body-font-color: $black !default; //網站文字顏色
//連結顏色
$link-color: $deep !default; //連結顏色
$visited-color: $deep !default; //造訪過連結顏色
$hover-color: #1e7fb4 !default; //指標移入連結顏色，不可與任何底色重疊 
$active-color: $deep !default; //點擊連結顏色
//按鈕樣式
$btn-bg-color: $thir-color; //按鈕背景色
$btn-hover-bg-color: $deep-gray; //按鈕滑入顏色
$btn-text-color: $deep; //按鈕文字顏色
$btn-padding: 5px 8px; //按鈕內邊距，決定按鈕大小
$btn-border: 0px solid darken($btn-bg-color, 5); //按鈕線框
//分隔線樣式
$main-line: 1px dotted $light-gray;
//RWD寬度================================================================
$pc-width: 1024px;
$pad-width: 768px;
$phone-width: 320px;
//基本動畫速度================================================================
$transition: 300ms;
//預設空文字================================================================
$content: '\200B'; //空偽類的字元
//extend 樣式集================================================================
%clear {
    //清除浮動
    content: $content;
    display: block;
    height: 0;
    clear: both;
}

%hide-text {
    //隱藏文字的方法
    text-indent: -9999px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

%ellipsis {
    //超過範圍文字變成'...'的方法
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%content {
    //conten左、中、右區塊樣式
    display: block;
}

%article {
    //內文文章樣式
    @include border-radius();
    padding: 20px;
    display: block;
    line-height: $line-height-m;
    background-color: $light;
    ADDRESS,
    BLOCKQUOTE,
    BODY,
    DD,
    DIV,
    DL,
    DT,
    FIELDSET,
    FORM,
    FRAME,
    FRAMESET,
    H1,
    H2,
    H3,
    H4,
    H5,
    H6,
    IFRAME,
    NOFRAMES,
    OBJECT,
    OL,
    P,
    UL,
    APPLET,
    CENTER,
    DIR,
    HR,
    MENU,
    PRE {
        display: block
    }
    LI {
        display: list-item
    }
    HEAD {
        display: none
    }
    TABLE {
        display: table
    }
    TR {
        display: table-row
    }
    THEAD {
        display: table-header-group
    }
    TBODY {
        display: table-row-group
    }
    TFOOT {
        display: table-footer-group
    }
    COL {
        display: table-column
    }
    COLGROUP {
        display: table-column-group
    }
    TD,
    TH {
        display: table-cell
    }
    CAPTION {
        display: table-caption
    }
    TH {
        font-weight: bolder;
        text-align: center
    }
    CAPTION {
        text-align: center
    }
    BODY {
        padding: 8px;
        line-height: 1.33
    }
    H1 {
        font-size: 2em;
        margin: .67em 0
    }
    H2 {
        font-size: 1.5em;
        margin: .83em 0
    }
    H3 {
        font-size: 1.17em;
        margin: 1em 0
    }
    H4,
    P,
    BLOCKQUOTE,
    UL,
    FIELDSET,
    FORM,
    OL,
    DL,
    DIR,
    MENU {
        margin: 1.33em 0
    }
    H5 {
        font-size: .83em;
        line-height: 1.17em;
        margin: 1.67em 0
    }
    H6 {
        font-size: .67em;
        margin: 2.33em 0
    }
    H1,
    H2,
    H3,
    H4,
    H5,
    H6,
    B,
    STRONG {
        font-weight: bolder
    }
    BLOCKQUOTE {
        margin-left: 40px;
        margin-right: 40px
    }
    I,
    CITE,
    EM,
    VAR,
    ADDRESS {
        font-style: italic
    }
    PRE,
    TT,
    CODE,
    KBD,
    SAMP {
        font-family: monospace
    }
    PRE {
        white-space: pre
    }
    BIG {
        font-size: 1.17em
    }
    SMALL,
    SUB,
    SUP {
        font-size: .83em
    }
    SUB {
        vertical-align: sub
    }
    SUP {
        vertical-align: super
    }
    S,
    STRIKE,
    DEL {
        text-decoration: line-through
    }
    HR {
        border: 1px inset
    }
    OL,
    UL,
    DIR,
    MENU,
    DD {
        margin-left: 40px
    }
    OL {
        list-style-type: decimal
    }
    OL UL,
    UL OL,
    UL UL,
    OL OL {
        margin-top: 0;
        margin-bottom: 0
    }
    U,
    INS {
        text-decoration: underline
    }
    CENTER {
        text-align: center
    }
    BR:before {
        content: "\A"
    }
    /* An example of style for HTML 4.0's ABBR/ACRONYM elements */
    ABBR,
    ACRONYM {
        font-variant: small-caps;
        letter-spacing: 0.1em
    }
    A[href] {
        text-decoration: underline
    }
     :focus {
        outline: thin dotted invert
    }
    /* Begin bidirectionality settings (do not change) */
    BDO[DIR="ltr"] {
        direction: ltr;
        unicode-bidi: bidi-override
    }
    BDO[DIR="rtl"] {
        direction: rtl;
        unicode-bidi: bidi-override
    }
    *[DIR="ltr"] {
        direction: ltr;
        unicode-bidi: embed
    }
    *[DIR="rtl"] {
        direction: rtl;
        unicode-bidi: embed
    }
    /* Elements that are block-level in HTML4 */
    ADDRESS,
    BLOCKQUOTE,
    BODY,
    DD,
    DIV,
    DL,
    DT,
    FIELDSET,
    FORM,
    FRAME,
    FRAMESET,
    H1,
    H2,
    H3,
    H4,
    H5,
    H6,
    IFRAME,
    NOSCRIPT,
    NOFRAMES,
    OBJECT,
    OL,
    P,
    UL,
    APPLET,
    CENTER,
    DIR,
    HR,
    MENU,
    PRE,
    LI,
    TABLE,
    TR,
    THEAD,
    TBODY,
    TFOOT,
    COL,
    COLGROUP,
    TD,
    TH,
    CAPTION {
        unicode-bidi: embed
    }
    /* End bidi settings */
    [valign="top"] {
        vertical-align: top;
    }
    [valign="top"] td {
        vertical-align: top;
    }
    [align="center"] {
        text-align: center;
        td,
        th {
            text-align: left;
        }
    }
    [align="left"] {
        text-align: left;
        td,
        th {
            text-align: left;
        }
    }
    [align="right"] {
        text-align: right;
        td,
        th {
            text-align: right;
        }
    }
    caption {
        padding: 10px 5px;
        font-weight: $font-weight-b;
        font-size: $font-size-l;
    }
    table {
        width: 100% !important;
        td,
        th {
            text-align: left;
        }
    }
    table[border] td,
    th {
        border: 1px solid #555;
        padding: 5px;
    }
    table[border="0"] td,
    th {
        border-width: 0;
    }
    table[border="1"] td,
    th {
        border-width: 1px;
    }
    table[border="2"] td,
    th {
        border-width: 2px;
    }
    table[border="3"] td,
    th {
        border-width: 3px;
    }
    table[border="4"] td,
    th {
        border-width: 4px;
    }
    table[border="5"] td,
    th {
        border-width: 5px;
    }
}

%model {
    //模組區塊
    position: relative;
    margin-bottom: $interval-xl;
}

%model-title {
    //模組title
    padding: $interval-l 0;
    margin-bottom: $interval-l;
    width: 130px;
    border-bottom: 3px solid $main-color;
    font-size: $font-size-l;
    color: $main-color;
    font-weight: $font-weight-b;
}

%page-title {
    padding: $interval-l 0;
    margin-bottom: $interval-l;
    font-size: $font-size-l;
    text-indent: 0;
    color: $title-color;
}

%text {
    //輸入框樣式
    @include border-radius();
    border: 1px solid $gray;
    vertical-align: middle;
}

%btn {
    //按鈕樣式
    @include border-radius(5px);
    background-color: $white;
    display: inline-block;
    border: 1px solid $gray;
    line-height: 1;
    cursor: pointer;
    vertical-align: middle;
    font-size: $font-size-s;
    &:link {
        color: $gray;
    }
    &:visited {
        color: $gray;
    }
    &:hover {
        background-color: $light-gray;
        color: $white;
    }
    &:active {
        color: $gray;
    }
}

%list {
    //橫條選單樣式
    @include border-radius();
    display: block;
    padding: 6px 10px;
    background-color: $light;
    line-height: $line-height-m;
    &:hover {
        background-color: $sec-color;
        color: fontColor($sec-color);
    }
}

%table {
    //表單樣式
    tr {
        &:nth-child(2n),
        &.question_tr+tr,
        &.css_title+tr {
            background-color: $light;
        }
        th,
        td {
            //th,td共同設定
            padding: $interval-l;
            a {
                color: inherit;
                &:hover {
                    color: $hover-color;
                }
            }
        }
        th {
            //標題設定
            font-size: $font-size-l;
            color: $title-color;
        }
        td {
            line-height: $line-height-m;
        }
    }
}

%tabs {
    //頁籤樣式
    margin-bottom: $interval-l;
    ul {
        border-bottom: 1px solid $main-color;
        li {
            @include border-radius(4px 4px 0 0);
            float: left;
            overflow: hidden; //為了顯示圓角
            font-size: $font-size-m;
            background-color: $light-gray;
            color: $black;
            +li {
                margin-left: $interval-m;
            }
            &:hover {
                background-color: $sec-color-hover;
                color: $white;
            }
            a,
            span {
                display: block;
                padding: 6px 10px;
                line-height: 1;
                font-size: $font-size-l;
                color: inherit;
                span,
                a {
                    display: inline;
                    padding: 0;
                    font-size: $font-size-m;
                    background-color: transparent;
                }
            }
            .tabs_yes,
            &.data_midlle_news_category_yes {
                //開啟的狀態
                background-color: $main-color;
                color: $white;
            }
        }
        &:after {
            @extend %clear;
        }
    }
}

%tab-btns {
    //按鈕頁籤樣式
    margin-bottom: $interval-l;
    ul {
        li {
            float: left;
            +li {
                margin-left: $interval-m;
            }
            a {
                @extend %btn;
                &:hover {}
            }
        }
        &:after {
            @extend %clear;
        }
    }
}

//mixin 樣式集================================================================
@mixin bgToPic($img_src, $picsize: true, $size: 1) {
    //依圖改變大小並置中，$img_src為圖片檔名，$picsize為false就不匯出寬高，$size調整大小比例
    @if( $picsize !=false) {
        width: image-width($img_src) * $size;
        height: image-height($img_src) * $size;
    }
    background-image: image-url($img_src);
    background-repeat: no-repeat;
    background-position: center; // background-size: contain; //IE9+
}

@mixin pic-icon($img_src, $picsize: true, $size: 1) {
    //依圖改變大小並置中，$img_src為圖片檔名，$picsize為false就不匯出寬高且匯出%btn樣式，$size調整大小比例
    @if( $picsize !=false) {
        @include border-radius();
        display: inline-block;
        padding: 3px;
        vertical-align: middle;
        cursor: pointer;
    }
    @include bgToPic($img_src, $picsize, $size);
    @extend %hide-text;
}

@mixin left-icon($picsize: true, $size: 1) {
    //快捷的左箭頭方法，$picsize為false就不匯出寬高且匯出%btn樣式，$size調整大小比例
    @include pic-icon($left_src, $picsize, $size);
    @include border-radius(0px);
    background-color: $deep;
}

@mixin right-icon($picsize: true, $size: 1) {
    //快捷的右箭頭方法，$picsize為false就不匯出寬高且匯出%btn樣式，$size調整大小比例
    @include pic-icon($right_src, $picsize, $size);
    @include border-radius(0px);
    background-color: $deep;
}

@mixin title-before($text: $content, $img_src: none, $size: 1) {
    //模組title前置物件，變數是要顯示的前輟字串,或改成icon圖
    @if( $img_src !=none) {
        //如果有傳入圖的路徑，就不顯示字，反之則顯示字
        @include bgToPic($img_src, $size);
        content: $content;
    }
    @else {
        @include border-radius();
        content: $text;
        padding: $btn-padding;
        background-color: $main-color;
        color: $light;
    }
    vertical-align: middle;
    display: inline-block;
    margin-right: $interval-m;
}

//瀏覽器媒體================================================================
$media: ( 'pc': '(max-width: #{$pc-width}) and (min-width: #{$pad-width + 1})', 'pad': '(max-width: #{$pad-width}) and (min-width: #{$phone-width + 1})', 'phone': '(max-width: #{$phone-width})', 'center': '(max-width: #{$pc-width})', 'mobile': '(max-width: #{$pad-width})', );